h2 ="Room: #{@room_id}"

.messages#message_list

.message-form
  form#message_form
    .row
      input#message_txt type="text" required="required"
    .row
      button.btn type="submit"
        span Send!

javascript:
  var roomId = "#{{ @room_id }}";
  var user = "#{{ @user }}";
  var socketId = Date.now();

  var messageList = document.getElementById("message_list");
  var messageForm = document.getElementById("message_form");
  var textInput = document.getElementById("message_txt");

  messageForm.onsubmit = function(e){
    e.preventDefault();
    var msg = textInput.value;
    console.log("Send message", msg);
    textInput.value = null;
    chatChannel.perform('speak', { message: msg });
  };

  var escape = function(str) {
    return ('' + str).replace(/&/g, '&amp;')
                     .replace(/</g, '&lt;')
                     .replace(/>/g, '&gt;')
                     .replace(/"/g, '&quot;');
  }

  var addMessage = function(data){
    var node = document.createElement('div');
    var me = data['user'] == user && data['sid'] == socketId
    node.className = "message" + (me ? ' me' : '') + (data['system'] ? ' system' : '');
    node.innerHTML =
      '<div class="author">' + escape(data['user']) + '</div>' +
      '<div class="txt">' + escape(data['message']) + '</div>';
    messageList.appendChild(node);
  };

  ActionCable.startDebugging();
  var cable = ActionCable.createConsumer('#{{ CABLE_URL }}?sid=' + socketId);

  var chatChannel = cable.subscriptions.create(
    { channel: 'chat', id: roomId },
    {
      connected: function(){
        console.log("Connected");
        addMessage({ user: 'BOT', message: "I'm connected", system: true });
      },

      disconnected: function(){
        console.log("Connected");
        addMessage({ user: 'BOT', message: "Sorry, but you've been disconnected(", system: true });
      },

      received: function(data){
        console.log("Received", data);
        addMessage(data);
      }
    }
  )